<section class='container'>
  <section class='grid'>

    <articles-all ng-show='Article.isSelected(0)' ></articles-all>

    <articles-show ng-show='Article.isSelected(0) == false' ></articles-show>

    <div class="sidebar">
      <h2> AE<span class='thin'>R<span class='color'>U</span>REX</span> </h2>

      <div id='main-blurb' ng-show='Article.isSelected(0)'>
        <p>Small little blurb talking about you/whatever it is you would like to mention. <span class='color'>Get some cool different colors going</span></p>
      </div>

      <div id='main-blurb' ng-show='Article.isSelected(0) == false'>
        <p>{{Article.articles[Article.show].synopsis}}</p>
      </div>

    </div>
    
  </section>
</section>